name: Build and test

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  build_and_test_with_code_coverage:
    name: Build, test and upload code coverage
    runs-on: ubuntu-22.04
    env:
      CI: true

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - uses: gradle/gradle-build-action@v2
        name: build and test
        with:
          arguments: check build -x detekt -Pdetekt.multiplatform.disabled=true --scan
          gradle-version: wrapper
      - name: Upload test reports
        if: ${{ failure() }}  # runs only if previous step has failed, the entire workflow will still be marked as failed
        uses: actions/upload-artifact@v3
        with:
          name: gradle-test-report
          path: '**/build/reports/'
      - name: Code coverage report
        uses: codecov/codecov-action@v3
        with:
          flags: unittests
          fail_ci_if_error: true # optional (default = false)
          
      - uses: gradle/gradle-build-action@v2
        name: run detekt
        with:
          arguments: check -Pdetekt.multiplatform.disabled=false -PdetektAutoCorrect=true
          gradle-version: wrapper
      - uses: reviewdog/action-suggester@v1
        # Fixme: run if only the previous step has failed
        if: ${{ failure() }}
        with:
          tool_name: detekt
