name: Build and test

on:
  pull_request:
  push:
    branches:
      - 'main'

permissions:
  contents: write # https://github.com/gradle/actions/blob/main/setup-gradle/README.md#basic-usage

jobs:
  build_and_test_with_code_coverage:
    name: Build, test and upload code coverage
    runs-on: ubuntu-24.04
    env:
      CI: true

    steps:
      - uses: actions/checkout@v5
      - name: Get Kotlin version
        id: get-kotlin-version
        run: |
          echo "version=$(cat gradle/libs.versions.toml | grep -m1 kotlin | cut -d'=' -f2 - | tr -d ' "')" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          key: konan-${{ runner.os }}-${{ steps.get-kotlin-version.outputs.version }}
          path: ~/.konan
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
      - uses: gradle/actions/setup-gradle@v5
        name: Setup Gradle
        with:
          gradle-version: wrapper
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          dependency-graph: generate-and-submit
      - name: build and test
        run: ./gradlew check build -x detekt -Pdetekt.multiplatform.disabled=true --scan
      - name: Upload test reports
        if: ${{ failure() }}  # runs only if previous step has failed, the entire workflow will still be marked as failed
        uses: actions/upload-artifact@v5
        with:
          name: gradle-test-report
          path: '**/build/reports/'
      - name: Code coverage report
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          flags: unittests
          fail_ci_if_error: true # optional (default = false)
          
      - name: run detekt
        run: ./gradlew check -Pdetekt.multiplatform.disabled=false -PdetektAutoCorrect=true
      - run: git status && git diff
        if: ${{ always() }}
      - uses: reviewdog/action-suggester@v1
        # Fixme: run if only the previous step has failed
        if: ${{ failure() }}
        with:
          tool_name: detekt
