name: Create release

on:
  push:
    tags:
      - 'v*'
env:
  # TODO: required to use the in-memory PGP key.
  # See https://github.com/vanniktech/gradle-maven-publish-plugin/issues/253#issuecomment-841637159
  # ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.PGP_KEY_ID }}
  ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.PGP_SEC }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.PGP_PASSWORD }}
  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USER }}
  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}

jobs:
  release:
    name: Build and publish release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get Kotlin version
        id: get-kotlin-version
        run: |
          echo "version=$(cat gradle/libs.versions.toml | grep -m1 kotlin | cut -d'=' -f2 - | tr -d ' "')" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          key: konan-${{ runner.os }}-${{ steps.get-kotlin-version.outputs.version }}
          path: ~/.konan
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - run: ./gradlew publishToMavenCentral
